/*==================== PORTFOLIO==============*/

ul,
ol {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
}
/* ======================== Header ================= */

.header {
  border-bottom: 1px solid #e7e9fc;
  height: 72px;
}

.header-container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  height: 72px;
}

.addressa {
  font-style: normal;
}

.contacts {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 24px;
  padding: 0%;
  margin-left: 332px;
}

.contact-ph {
  margin-right: 0;
  display: block;
}
.nav {
  align-items: center;
  display: flex;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  flex-direction: row;
  padding: 0px;
  margin-right: 76px;
}

.studio {
  color: #2e2f42;
}
.web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.studio-menu {
  padding: 24px 0;
}

.menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.address {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ======================== Main ================== */

.section-portfolio {
  padding: 96px 0 120px;
}

.port-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.port-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.filter-but {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
  align-items: flex-start;
  padding: 12px 24px;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  justify-content: center;
}

.filter-but:hover,
.filter-but:focus {
  color: white;
  background-color: #404bbf;
  border: 1px solid transparent;
  border: 1px solid transparent;
}

.port-buttons {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 72px;
}

.list-photo {
  display: flex;
  flex-direction: row;
}

/* ===================== Link Photo================== */

.photos {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding: 0%;
}

.link-photo {
  width: calc((100%-48px) / 3);
  width: 360px;
}

.container-photo {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.port-title {
  margin-bottom: 8px;
}

/* ==================== Footer ================= */

.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.text-foot {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  margin: 0 0 0 156px;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: inline-block;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-left: 156px;
  margin-bottom: 16px;
  display: flex;
}

.studio-footer {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
